django_todo/venv
django_todo/django_todo/__pycache__
django_todo/todo/__pycache__
django_todo/todo/migrations/__pycache__
Terraform/.terraform
Kubernetes/ssl-cert.yml
Kubernetes/mycert.crt
Kubernetes/mykey.key
